@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: "Outfit", sans-serif;
}
@import "tailwindcss";
.no-scrollbar::-webkit-scrollbar {
  display: none;
}